<div class="volunteer-nav"></div>


<h3><a href="#/admin">Admin</a> / <a href="#/admin/users">Users</a> / {{user.name_display}}</h3>

<form role="form" name="form">

    <div class="form-group">
        <label>Target Hours</label>
        <input type="number" min="0" max="1000" class="form-control" ng-model="user.targetHours" style="width:6em;" placeholder="20"/>
    </div>

    <div class="form-group">
        <label>Target Hours (family)</label>
        <input disabled type="text" min="0" max="1000" class="form-control" value="{{targetHoursFamily()}}" style="width:6em;" placeholder="20"/>
    </div>

    <div class="form-group">
        <label>Admin of Categories / Classes</label>
        <p class="small how-to">Which classes or groups can this user edit tasks for?</p>
        <div class="checkbox" ng-repeat="g in user.groups">
            <label><input type="checkbox" ng-model="user.adminOfCategories[g.id]"/> {{g.title}}</label>
        </div>
    </div>

    <div class="form-group">
        <label><i class="glyphicon glyphicon-link"></i> Linked To User Account(s)</label>
        <ul>
            <li ng-repeat="u in linkedUsers track by u.id">
                {{u.fullName}}
                <button ng-click="removeLinkedUser($index)" class="btn btn-danger btn-xs">&times;</button></li>
            <li>
                <input class="" ng-model="newUser" typeahead-on-select="didChooseLinkedUser()"
                       uib-typeahead="u as u.fullName for u in findUsers($viewValue)"
                       typeahead-min-length="3"
                        />
            </li>
        </ul>
    </div>

    <button class="btn btn-primary" ng-click="save()">Save Changes</button>
    <button class="btn btn-primary" ng-click="loginAsThisUser()">Log In as This User</button>
    <button class="btn btn-primary" ng-click="showUsersJob()">Show Jobs Volunteering For</button>


</form>
