<h3>Admin / User List</h3>
<input type="search" class="form-control" ng-model="q" class="pull-left" style="width:8em;"/>
<button ng-click="clearSelection()" class="btn btn-default" ng-disabled="selectionKeys.length==0">Clear Selection</button>
<button ng-click="linkSelectedUsers()" ng-disabled="selectionKeys.length<2" class="btn btn-primary"><i class="glyphicon glyphicon-link"></i>Link Selected Users</button>
<button ng-click="exportUserSignUps()" class="btn btn-primary"><i class="glyphicon glyphicon-download"></i> Export User Signup Data</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Parent/Family Name</th>
        <th>Hours</th>
        <th>Linked People</th>
        <th>Admin of Categories</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users|filter:customFilter" ng-class="{info:selected[user.id]}">
        <td>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="selected[user.id]" ng-change="selectionDidChange()"/>
                    {{user.fullName}}
                </label>
            <span class="label label-warning" ng-show="user.admin">Admin</span>
        </td>
        <td>{{hoursFor(user)}} of <input ng-model="user.targetHours" maxlength="3" size="3" style="width:3em;"/></td>
        <td>
            <ul class="list-unstyled">
                <li ng-repeat="linkedUser in linkedUsers(user)">{{linkedUser.fullName}}
                    <button ng-click="unlink(user, linkedUser)" class="btn btn-danger btn-xs" title="Remove this link">&times;</button>
                </li>
            </ul>
        </td>
        <td>
            <ul class="list-unstyled">
                <li ng-repeat="c in user.categories">{{c.name}}</li>
                <li>
                    <button ng-click="editCategories(user)" class="btn btn-primary btn-xs">Edit</button></li>
            </ul>
        </td>
    </tr>
    </tbody>

</table>
