<ul class="nav nav-pills">
  <li><a href="#">Home</a></li>
  <li><a href="#/job-list">Job List</a></li>
  <li class="active"><a href="#/admin">Admin</a></li>
</ul>

<h1>Volunteer Tracker Administration</h1>

<div>
    <button ng-click="add()" ng-show="user.admin" class="btn btn-warning"><i class="glyphicon glyphicon-plus"></i> Add Job</button>
</div>

<h3>Signups</h3>
[list of all slots and their signup status]

<h3>Volunteer Hours</h3>
[List of families and their progress toward target hours]

<h3>???</h3>
[What else is needed in the admin section?]