<div class="volunteer-nav"></div>

<h1>Volunteer Tracker Administration</h1>

<div>
  <button ng-click="add()" class="btn btn-warning"><i class="glyphicon glyphicon-plus"></i> Add Job</button>
  <a href="#admin/addIndividualTime" ng-show="isAdminOfAtLeastOneGroup()" class="btn btn-warning"><i
    class="glyphicon glyphicon-plus"></i> Add Individual Time</a>
</div>

<h3>Sign Ups <a href="#admin/signups" class="btn btn-primary">Go</a></h3>
List of all jobs and their signup status.


<div ng-show="isAdmin()"><h3>Users <a class="btn btn-primary" href="#/admin/users">Go</a></h3>

  <p>See a list of all users, and their progress towards volunteer target hours.</p>

</div>

<div><h3>Groups <a class="btn btn-primary" href="#/admin/groups">Go</a></h3>

  <p>Manage any groups you are an administrator of.</p>

</div>
