<div class="header">
    <ul class="nav nav-pills">
        <li><a href="#/">Home</a></li>

        <li><a href="#/job-list">Job List</a></li>
        <li><a href="#/admin">Admin</a></li>
    </ul>
</div>


<h3><a href="#/admin">Admin</a> / User List</h3>

<form ng-submit="search()">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="q" autofocus="true">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" type="submit">Go!</button>
  </span>
    </div>
    <!-- /input-group -->
</form>

<table class="table table-striped" ng-show="users.length">
    <thead>
    <tr>
        <th>Name</th>
        <th>Section/Group</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users track by user.id">
        <td>
            {{user.fullName}}
        </td>
        <td>{{user.sectionName}}{{user.groupName}}</td>
        <td>
            <a href="#/admin/users/{{user.id}}" class="btn btn-primary">Edit</a>
        </td>
    </tr>
    </tbody>

</table>
