<input ng-hide="hideSearch" type="search" class="form-control" ng-model="$root.q" placeholder="Search" style="width:12em;">
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Category</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="job in jobs | filter:$root.q | filter:notDeletedFilter" class="clickable">
        <td ng-show="selected"><label class="checkbox-inline"><input type="checkbox" class="checkbox" ng-checked="selected[job.id]" ng-click="didClickJob(job)"/>&nbsp;{{job.name}}</label></td>
        <td ng-show="!selected"><a>{{job.name}}</a></td>
        <td title="Starting {{job.date|date}}">{{dateDisplayFor(job)}}</td>
        <td><span class="label label-info" ng-repeat="category in job.categories" style="margin-right:5px">{{category.text}}</span></td>
        <td>
            <div class="progress progress-inline" style="margin:0">
                <div class="progress-bar" role="progressbar" ng-style="{width:percentDone(job)+'%'}">
                    <span class="sr-only">%</span>
                </div>
            </div>

        </td>
    </tr>
    </tbody>

</table>
