<div class="volunteer-nav"></div>

<div class="jumbotron" style="text-align: center">
    <div>
        <h2>Your volunteer hours: {{completeVerified + completeUnverified | number:1}} of {{session.userAccount.targetHoursLinked}} done!</h2>

        <div class="progress clickable" title="{{progressBarTitle()}}" ng-click="showMyJobs()">
            <div class="progress-bar progress-bar-primary" role="progressbar" ng-style="{width:percentCompleteVerified + '%'}">
                {{(percentCompleteVerified + percentCompleteUnverified) | number:0}}%
            </div>
            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{width:percentCompleteUnverified + '%'}">
            </div>
        </div>
    </div>
    <p>
        <a class="btn btn-primary btn-lg" href="#/job-list">See Available Volunteer Opportunities</a>
    </p>
</div>
<div ng-show="mySignUps.length">
    <h3 ng-show="!hasLinkedAccounts">Your family is signed up for:</h3>
    <h3 ng-show="hasLinkedAccounts">{{linkedUsersString}} and you are signed up for:</h3>
    <div class="list-group">
      <a ng-repeat="o in mySignUps | filter:showingCompletedFilter" href="#job-detail/{{o.job.id}}" class="list-group-item" ng-class="{disabled:isInPast(o.signUp.date)}">
        <h4 class="list-group-item-heading">
            <i class="glyphicon glyphicon-calendar"></i>
            {{o.job.name}} <!--/ {{o.task.name}}-->
            <small> {{o.signUp.date|date}} {{o.timeSlot.startTime|date:'hh:mm a'}}<span ng-show="o.timeSlot.startTime!=o.timeSlot.endTime"> - {{o.timeSlot.endTime|date:'hh:mm a'}}</span></small>
        </h4>
        <p class="list-group-item-text">{{o.timeSlot.name}}</p>
          <div ng-show="o.signUp.userId!=session.userAccount.uid"><em class="text-muted">For another member of your household</em></div>
      </a>
    </div>

    <div ng-show="isInPast(mySignUps[0].signUp.date)">
        <button ng-click="toggleOldJobs()" ng-show="!showingCompletedJobs" class="btn btn-sm btn-default">Include Completed Jobs</button>
        <button ng-click="toggleOldJobs()" ng-show="showingCompletedJobs" class="btn btn-sm btn-default">Hide Completed Jobs</button>
    </div>
</div>
<br/>
<br/>
<br/>
<div class="panel panel-danger" ng-show="session.schoologyAccount.su ||  isAdmin()">
    <div class="panel-heading">
        <h3 class="panel-title">Admin-Only: Signed in as {{session.userAccount.name_display}}</h3>
    </div>
    <div class="panel-body">
        <button ng-show="session.schoologyAccount.su" ng-click="session.stopSwitchUser()" class="btn btn-warning">Logout from {{session.userAccount.name_display}} account</button>

        <p>You are linked to the following groups:</p>
        <ul>
            <li ng-repeat="group in session.userAccount.groups">{{group.title}} <span class="label label-warning" ng-show="isAdminForGroupId(group.id)">Admin</span> </li>
        </ul>

    </div>


</div>

