<table class="table table-striped" ng-show="users.length">
    <thead>
    <tr>
        <th>Name</th>
        <th>Section/Group</th>
        <th>Hours</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users track by user.id">
        <td>
            {{user.fullName}}
        </td>
        <td>{{user.sectionName}}{{user.groupName}}</td>
        <td>
          <div class="progress progress-inline" ng-style="{width: user.targetHours*10 + 'px'}" style="display:inline-block;margin-bottom:-4px;max-width:210px;">
              <div class="progress-bar" role="progressbar progress-bar-success" ng-style="{width:(100*user.volHours/user.targetHours) + '%'}">
                {{user.volHours || 0 | number}} of {{user.targetHours}}
              </div>
          </div>
        </td>
        <td>
            <a href="#/admin/users/{{user.id}}" class="btn btn-primary">Edit</a>
        </td>
    </tr>
    </tbody>

</table>
